<div class="container register">
  <h2>Edit Event</h2>

  <form ng-submit="eventsEdit.eventsUpdate()" class="form-register">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" name="title" ng-model="eventsEdit.event.title" value="eventsEdit.event.title" placeholder="Title">
      </div>
    </div>
  <div class="row">
    <div class="six columns">
      <input class="u-full-width input" type="date" name="date" ng-model="eventsEdit.event.date" placeholder="Date" required/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input class="u-full-width input" type="time" name="time" ng-model="eventsEdit.event.time" placeholder="Time" value="eventsEdit.event.time">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="image">Image</label>
      <input type="text" class="u-full-width" id="image" placeholder="Image url" ng-model="eventsEdit.event.image">
    </div>
  </div>


  <div class = "row">
    <div class="six columns">
    <input class="button" type="submit" value="Submit" />
    </div>
  </div>
  </form>
</div>
