<h2>New Event</h2>

<form ng-submit="eventsNew.eventCreate()">
  <div class="form-group">
    <input class="form-control" type="title" name="title" ng-model="eventsNew.event.title" placeholder="Title">
  </div>
  <div class="form-group">
    <input class="form-control" type="date" name="date" ng-model="eventsNew.event.date" placeholder="Date">
  </div>
  <div class="form-group">
    <input class="form-control" type="time" name="time" ng-model="eventsNew.event.time" placeholder="Time">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" placeholder="Image url" ng-model="eventsNew.event.image">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
