<div class="container register">
  <h2>New Event</h2>

 {{ eventsNew.event }}

  <form ng-submit="eventsNew.eventCreate()" class="form-register">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" name="title" ng-model="eventsNew.event.title" placeholder="Title">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <!-- <label for="date">Date</label> -->
        <input class="u-full-width input" type="date" name="date" ng-model="eventsNew.event.date" placeholder="Date">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <!-- <label for="time">Time</label> -->
        <input class="u-full-width input" type="time" name="time" ng-model="eventsNew.event.time" placeholder="Time">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="image">Image</label>
        <input type="text" class="u-full-width" id="image" placeholder="Image url" ng-model="eventsNew.event.image">
      </div>
    </div>

    <div class = "row">
      <div class="six columns">
        <input class="button" type="submit" value="Submit" />
      </div>
    </div>

  </form>
</div>
