$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #004069;
$nav-font-color: #ffffff;
$link-hover-color: #FF4C50;
$red: #FF4C50;

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a, p {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
      }
    }
  }
}

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  font-size: 2.3em;
  font-weight: bold;
  font-family: $logo-font;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}
