<div class="container">
  <h2>New Event</h2>

  <form ng-submit="eventsNew.eventCreate()">
    <div class="row">
      <div class="six columns">
      <input class="u-full-width" type="title" name="title" ng-model="eventsNew.event.title" placeholder="Title">
    </div>
  </div>
    <div class="row">
      <div class="six columns">
      <input class="u-full-width" type="date" name="date" ng-model="eventsNew.event.date" placeholder="Date">
    </div>
  </div>
    <div class="row">
      <div class="six columns">
      <input class="u-full-width" type="time" name="time" ng-model="eventsNew.event.time" placeholder="Time">
    </div>
  </div>
    <div class="row">
      <div class="six columns">
      <label for="image">Image</label>
      <input type="text" class="u-full-width" id="image" placeholder="Image url" ng-model="eventsNew.event.image">
    </div>
  </div>
    <input class="button" type="submit" value="Submit" />
  </form>
</div>
