$content-width: 1000px;
$breakpoint: 800px;

html, body {
  min-height:100vh;
  position:relative;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  padding:10px;
  min-height: 100%;
  padding-bottom:60px;   /* Height of the footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:45px;   /* Height of the footer */
  background: #004069;
  padding-top: 10px;


  p.footer-text {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
}

::-webkit-scrollbar {
  display: none;
}

.US-event {
  border: 1px black solid;
}

.restaurantImg {
  border-radius: 166px;
}

img.eventShow {
  border-radius: 0px;
}

.jumbotron {
  background-color: white;
  // background-image: url('../images/toa-heftiba.jpg');
  // background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  position: fixed;
}
.jumbotron h1 {
  text-align: center;
  color: white;
  font-family: 'Sansita';
  margin: 0 auto;
  font-size: 6em;
  color: #FF4C50;
  padding-top: 10%;
}

.jumbotron p {
  text-align: center;
  font-size: 3em;
  font-family: 'Sansita';
  color: #004069;
  font-style: italic;
}

.input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.container.register {
  margin: 0 auto;
  text-align: center;
}

.form-register {
  margin: 0 auto;
  margin-left: 50%;
  display: inline-block;
  text-align: center;
  margin-left: 25%;
  margin-right:25%;
  width: 100%;
}

button-primary.form-button {
  margin: 0;
}

.userShow-list {
  list-style-type: none;
}

h5.userShow-list:hover {
  color: #FF4C50;
}

h3.title {
  color: #004069;
}

img.eShow {
  width: 50px;
  height: auto;
}

div.eventShow {
  height: 300px;
  vertical-align: middle;
}

h3.show {
  margin-top: 20px;
  padding: 20px;
}
