<div class="container register">
  <h2>Register</h2>
  <p>Sign up today to start planning events!</p>
  <form ng-submit="register.register()" class="form-register">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="email" name="email" ng-model="register.user.email" placeholder="Email">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" name="first_name" ng-model="register.user.first_name" placeholder="First name">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" name="last_name" ng-model="register.user.last_name" placeholder="Last name">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="password" name="password" ng-model="register.user.password" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="image">Image</label>
        <p>Pick an image to display alongside your email address.</p>
        <input type="text" class="u-full-width" name="image" id="image" placeholder="Image url" ng-model="register.user.image">
      </div>
    </div>

    <div class = "row">
      <div class="six columns">
        <input class="button-primary form-button" type="submit" value="Sign Up" />
      </div>
    </form>
  </div>
